rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      function isSignedIn() {
        return request.auth != null;
      }

      function isValidNewUser() {
        return resource == null;
      }

      function isCurrentUser() {
        return request.auth.uid == userId;
      }

      allow read: if isSignedIn();
      allow create: if isSignedIn() && isValidNewUser();
      allow update, delete: if isSignedIn() && isCurrentUser();
    }

    match /commitments/{commitmentId} {
      function isSignedIn() {
        return request.auth != null;
      }

      function isValidNewCommitment() {
        return resource == null && request.auth.uid == request.resource.data.userId;
      }

      function isUserCommitment() {
        return request.auth.uid == resource.data.userId;
      }

      allow read: if isSignedIn() && isUserCommitment();
      allow create: if isSignedIn() && isValidNewCommitment();
      allow update, delete: if isSignedIn() && isUserCommitment();
    }
  }
}
