@import "settings/variables";
@import "tools/mixins/import_once";

@include import-once("generic/reboot_body") {
  body {
    // As a best practice, apply a default `background-color`.
    background-color: var(--bg-color);
    color: var(--text-color); // Base text color
    // Main font for the content
    font-family: "Raleway",
      // Safari for OS X and iOS (San Francisco)
        -apple-system,
      // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
        system-ui,
      // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
      // Windows
        "Segoe UI",
      // Android
        Roboto,
      // Basic web fallback
        "Helvetica Neue",
      Arial, sans-serif,
      // iOS and macOS emojis
        "Apple Color Emoji",
      // windows > 7 emojis
        "Segoe UI Emoji",
      // windows 7 emojis
        "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0; // Remove default body margin of 8px
    text-align: left; //Set an explicit initial text-align value so that we can later use the `inherit` value on things like `<th>` elements.
  }
}
