@import "settings/variables";
@import "tools/mixins/import_once";

@include import-once("generic/custom_properties") {
  :root {
    --primary: #{$pink-lavender};
    --text-color: #{$gainsboro};
    --text-color-inverse: #{invert($gainsboro)};
    --bg-color: #{$gunmetal};

    --black-100: #000;
    --white-100: #fff;
    --transparent: rgba(var(--white-100), 0.001);
  }

  @media (prefers-color-scheme: light) {
    :root {
      --primary: #{$pink-lavender};
      --text-color: #{$gunmetal};
      --text-color-inverse: #{invert($gunmetal)};
      --bg-color: #{$beau-blue};
    }
  }
}
