@import "styles/settings/variables";
@import "styles/tools/functions/get_shade";
@import "styles/tools/mixins/import_once";

@include import-once("components/CommitmentCard") {
  .commitment-card {
    --bezel-color: var(--bg-color-90);
    --bezel-width: 1;
    --bezel-radius: 0 0 24px 24px;
    --fill-type: filled;
    background-color: var(--bezel-color);
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    padding: 1rem;
    position: relative;
    width: 100%;

    @supports (background: paint(id)) {
      background-color: unset;
      background-image: paint(bezel);
    }
  }

  .commitment-card__title {
    max-width: calc(100% - 3.5rem);
  }

  .commitment-card__commitment-type {
    bottom: 1rem;
    position: absolute;
    right: 1rem;
  }

  .commitment-card__delete-cta {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}
