@import "styles/settings/variables";
@import "styles/tools/mixins/import_once";
@import "styles/tools/mixins/vh_100";

@include import-once("pages/Dashboard") {
  .dashboard {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem;
  }

  .dashboard__title {
    align-self: flex-start;
  }
}
