/// Module export mixin
/// This mixin helps creating our h2 texts making sure a module is imported once and only once.
/// @access public
/// @param {String} $color - color the font should take
@mixin headline-2($color: var(--text-color)) {
  color: $color;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
