@import "styles/settings/variables";
@import "styles/tools/mixins/import_once";
@import "styles/tools/mixins/input_placeholder";
@import "styles/tools/mixins/visually_hidden";
@import "styles/tools/mixins/body_2";

@include import-once("components/FormElements/AreaField") {
  .area-field {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1.5rem;
    min-width: 18rem;
  }

  .area-field__textarea {
    background-color: $gainsboro;
    border: 0.0625rem solid var(--text-color);
    border-radius: 0.125rem;
    color: $gunmetal;
    margin-bottom: 0.35rem;
    min-height: 6rem;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;

    &.area-field__input--invalid {
      box-shadow: 0 0 0.125rem 0.2rem $crimson;
    }

    &:focus {
      box-shadow: 0 0 0.125rem 0.2rem var(--primary);
      outline: 0;
    }
  }

  .area-field__label {
    margin-bottom: 0.35rem;
  }

  .area-field__error-message {
    margin-bottom: 0;
    order: -1;
  }
}
