@import "styles/settings/variables";
@import "styles/tools/functions/get_shade";
@import "styles/tools/mixins/import_once";

@include import-once("components/CTAs/FilledCTA") {
  .default-cta {
    &.filled-cta {
      --bezel-color: var(--primary);
      --bezel-width: 1;
      --bezel-radius: 16px 0 16px 0;
      --fill-type: filled;
      background-color: var(--bezel-color);
      color: $gunmetal;
      transition-duration: 0.3s;
      transition-property: --bezel-color, background-color, color;
      transition-timing-function: ease-in-out;

      @supports (background: paint(id)) {
        background-color: unset;
        background-image: paint(bezel);
      }

      &:hover {
        --bezel-color: var(--primary-80);

        @supports (background: paint(id)) {
          background-color: unset;
        }
      }

      &:disabled {
        --bezel-color: var(--disabled);

        @supports (background: paint(id)) {
          background-color: unset;
        }
      }
    }
  }
}
