@import "styles/settings/variables";
@import "styles/tools/mixins/import_once";

@include import-once("router/Router/FadeTransitionRouter") {
  .fade-transition-router {
    flex: 1;
    position: relative;
  }

  .router {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .fade-enter {
    &.router {
      opacity: 0;
      z-index: 1;
    }
  }

  .fade-enter-active {
    &.router {
      opacity: 1;
      transition: opacity 300ms ease-in-out;
    }
  }

  .fade-exit {
    &.router {
      opacity: 1;
      z-index: 1;
    }
  }

  .fade-exit-active {
    &.router {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
}
