@import "styles/settings/variables";
@import "styles/tools/functions/get_shade";
@import "styles/tools/mixins/import_once";

@include import-once("components/CTAs/StrokeCTA") {
  .stroke-cta {
    --bezel-color: var(--primary);
    --bezel-width: 1;
    --bezel-radius: 16px 0 16px 0;
    --fill-type: stroke;
    background-color: unset;
    border: 0.125rem solid var(--bezel-color);
    color: var(--text-color);
    transition-duration: 0.3s;
    transition-property: --bezel-color, background-color, border, color;
    transition-timing-function: ease-in-out;

    @supports (background: paint(id)) {
      background-image: paint(bezel);
      border: 0;
    }

    &:hover {
      --bezel-color: var(--primary-115);
      background-color: unset;
    }

    &:disabled {
      --bezel-color: var(--disabled);
      background-color: unset;
    }
  }
}
